<div class="relative w-full min-h-screen text-textPrimary">
   <div class="hidden absolute inset-0 bg-cover bg-center" style="background-image: url('https://tailwindcss.com/_next/static/media/hero-dark@90.dba36cdf.jpg');">
   </div>
   <div class="absolute back_gradient_aniamtion">
   </div>
   <div class="relative z-10 ">
      <app-sidebar-blog></app-sidebar-blog>
      <div class="container mx-auto pt-28 flex flex-col justify-center items-center">
         <div class="grid grid-cols-5  gap-10 justify-center items-center ">
            <div class="border-4 border-bgTern bg-bgTern rounded-full col-span-5 sm:col-span-5 rotate-[10deg] md:col-span-5 relative  mx-auto  w-52 h-52  justify-center items-end flex overflow-hidden">
               <img class="-mb-2 -mr-8 shadow-sm  " 
               src="../../assets/images/pictur_2.png" alt="user image">
            </div>
            <div class="px-4 col-span-5 sm:col-span-5 md:col-span-5 font-general-regular w-full text-center sm:text-center mx-auto text-center">
               <p class="mb-4  text-lg">Desarrollador Full Stack especializado en la creación de aplicaciones web y móviles.
               </p>
               <p class="mb-4  text-lg">
                 Tengo experiencia en desarrollo frontend y backend, trabajando como freelance y en equipos colaborativos. He trabajado principalmente con PHP (Laravel/Symfony) y TypeScript (Angular/Ionic), desarrollando soluciones escalables y de alto rendimiento. Además, tengo sólida experiencia en la creación de APIs con Symfony y Laravel, siempre con un enfoque en la optimización y el uso de mejores prácticas.
               <p class="mb-4  text-lg">
                  Me mantengo actualizado con las últimas tecnologías, lo que me permite aplicar soluciones innovadoras y eficientes en cada proyecto.
               </p>
            </div>
         </div>
            
      </div>
      <div class="w-full py-10 mt-10  bg-primary-light dark:bg-ternary-dark shadow-sm">
         <p class="font-general-medium text-2xl sm:text-3xl  text-center text-primary-dark dark:text-primary-light">Tecnologias con las que he trabajado
         </p>
      </div>
   <div class="container mx-auto" style="opacity: 1;">
   <div class="" style="opacity: 1; transform: none;">
      <div class="grid grid-cols-3 sm:grid-cols-5 mt-10 gap-4 md:gap-10">
         <img src="../../assets/logos/Angular.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/TypeScript.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/JavaScript.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/HTML5.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/CSS3.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/Laravel.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/PHP.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/symfony-svgrepo-com.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/MySQL.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/Docker.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/Ionic.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/Android.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/Swift.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/C_sharp.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
         <img src="../../assets/logos/Xamarin.svg" class="h-full w-30 md:w-30 px-4 xl:px-14 border-ternary-light dark:border-ternary-dark rounded-lg mb-8 cursor-pointer">
      </div>
   </div>
</div>
   </div>
</div>